.element__name{
    grid-area: name;
    margin: 25px auto 31px 21px;
    padding: 0;
    max-width: calc(246px - 30px);
    text-align: start;
    justify-self: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}