.header__logo{
    width: 173px;
    height: 33px;
}


@media screen and (max-width: 435px){
    .header__logo{
        margin-left: 27px;
        margin-top: 28px;
        margin-bottom: 32px;
        width: 126px;
        height: 24px;
    }
}