.profile__edit{
    grid-area: edit;
    width: 24px;
    height: 24px;
    margin: 37px 0 6px 0;
    padding: 0;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
}

/* .profile__edit-button{
    grid-area: edit;
    background: url(../../../images/Edit-Button_1280px.png);
    height: 24px;
    width: 24px;
    margin: 37px 0 6px 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: ease-in;
    transition-duration: 0.15s;
    cursor: pointer;
  }
  .profile__edit-button:hover{
    opacity: 0.6;
  }
  @media (max-width: 768px){
    .profile__edit-button{
      margin: 34px 29px 0 0;
    }
  }
  @media (max-width: 425px){
    .profile__edit-button{
      background: url(../../../images/Edit-Button_320px.svg);
      width: 18px;
      height: 18px;
    }
  } */