.profile__edit{
    width: 24px;
    height: 24px;
    display: inline;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
}