.main{
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  
@media (max-width: 768px){
    .main{
      width: 100%;
    }
}
  
@media (max-width: 425px){
    .main{
      width: 88%;
    }
  }