.popup__image-name{
    position: absolute;
    top: calc(100% + 10px);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    text-align: left;
    color: white;
    width: 100%;
}