.header{
    margin: 45px auto 0;
    padding: 0;
    max-width: 880px;
    height: 74px;
    position: relative;
    border-bottom: 1px solid #545454;
}

@media (max-width: 880px){
    .header{
      width: 90%;
    }
}

@media (max-width: 425px){
    .header{
      width: 100%;
    }
}