.header{
    margin: 45px auto 0;
    padding: 0;
    max-width: 880px;
    min-height: 74px;
    position: relative;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 880px){
    .header{
      width: 90%;
    }
}

@media (max-width: 425px){
    .header{
      width: 100%;
      min-height: 56px;
      margin: 0;
    }
}