.content{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    color: white;
    position: relative;
}