.profile__edit{
    grid-area: edit;
    width: 24px;
    height: 24px;
    margin: 37px 0 6px 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../img/edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
}

.profile__edit:hover{
  opacity: 0.6;
}

@media (max-width: 768px){
  .profile__edit{
    margin: 34px 29px 0 0;
  }
}

@media (max-width: 425px){
  .profile__edit{
    width: 18px;
    height: 18px;
  }
}