.profile__name{
    grid-area: name;
    max-width: 400px;
    font-size: 42px;
    line-height: 1.14;
    font-weight: 500;
    padding: 0;
    margin: 22px 18px 0 30px;
    /* display: inline; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 768px){
  .profile__name{
    margin: 30px 10px 0 29px;
    font-size: 32px;
    line-height: 1.19;
  }
}

@media (max-width: 400px){
  .profile__name{
    font-size: 22px;
    line-height: 1.23;
    max-width: 200px;
  }
}