.popup__image{
    max-width: 75vw;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    color: transparent;
    margin: 12.5vh auto;
}