.popup__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
}

@media (max-width: 550px){
    .popup__container{
      width: 282px;
    }
}