.popup__input{
    width: 358px;
    margin: 0 36px 29.74px;
    padding: 0;
    padding-bottom: 13.26px;
    box-sizing: border-box;
    border: 1px solid white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    font-size: 14px;
    line-height: 17px;
}


@media (max-width: 550px){
    .popup__input{
      width: 238px;
      margin: 0 22px 30px;
      padding-bottom: 9px;
    }
}