.popup__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: start;
    margin: 0 auto 54px 36px;
    padding-top: 34px;
}

@media (max-width: 550px){
    .popup__title{
      margin: 0 auto 76px 22px;
      padding-top: 25px;
      font-size: 18px;
      line-height: 22px;
    }
}